body {
  position: relative;
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.inner {
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

header {
  background-color: transparent;
}
header .inner {
  background-color: transparent;
}
header .gnb .gnb-logo a {
  color: var(--font-color);
}
header .gnb ul li:last-child {
  border: 1px solid var(--font-color);
}
header .gnb ul li a {
  color: var(--font-color);
}
header .gnb ul li:last-child a:hover {
  background-color: var(--font-color);
  color: var(--font-color-w);
}

main {
  position: relative;
  width: 100%;
  height: 40vh;
  padding: 100px 0;
  background-color: teal;
}
main .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

main .pj-cat {
  padding: 20px 0;
  box-sizing: border-box;
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 50px;
}

main .pj-cat a {
  display: flex;
  align-items: center;
  width: fit-content;
}

main .pj-cat a .arrow-left-wrap {
  width: 25px;
  height: 25px;
  object-fit: cover;
  transform: rotate(90deg);
  margin-right: 10px;
}
main .pj-cat a .arrow-left-wrap img {
  width: 100%;
  height: 100%;
}

main .pj-cat a strong {
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: var(--main-color);
}

main h1 {
  font-weight: 700;
  font-size: 8rem;
}
main h1 span {
}

.arrow-wrap {
  position: absolute;
  width: 50px;
  right: 17%;
  bottom: 5%;
  object-fit: contain;
  box-sizing: border-box;
  overflow: hidden;
  animation: scroll-down 1.8s infinite ease-out;
}
.arrow-wrap img {
  width: 100%;
  height: 100%;
}

@keyframes scroll-down {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 5%;
  }
}

.slide-area {
  margin: 0 auto;
  max-width: 100%;
}

.slide-img {
  padding: 0 10px;
}

.slide-img img {
  width: 100%;
  height: auto;
  display: block;
}

.detail {
  background-color: var(--light-gray);
}
.detail .inner {
}

.slick-slider {
  position: relative;
  padding: 160px 0 80px;
}
.slick-list {
  width: 100%;
  height: 600px;
}
.slick-slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 50px;
  height: 50px;
  object-fit: cover;

  background-color: gold;
}
.slick-slider button.slick-prev {
  left: 1rem;
}
.slick-slider button.slick-next {
  right: 1rem;
}

.detail .slider-area {
}

.detail .slider-area .slide-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.detail .slider-area .slide-img img {
  width: 100%;
  height: 600px;
}

.detail .url-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--font-color-w);
  border-radius: 40px;
  padding: 2.5rem 2rem;
  margin-bottom: 60px;
}
.detail .url-icons {
  border: 1px solid gold;

  width: 50px;
  height: 50px;
  object-fit: cover;
}
.detail .url-icons a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: orange;
}

.detail .url-web {
  border: 1px solid teal;

  border: 1px solid var(--font-color);
  border-radius: 30px;
  overflow: hidden;
}
.detail .url-web a {
  display: block;
  font-weight: 500;
  font-size: 0.9rem;
  background-color: transparent;
  color: var(--main-color);
  padding: 15px 35px;
  box-sizing: border-box;
  transition: all 0.2s ease;
}
.detail .url-web:hover a {
  background-color: var(--main-color);
  color: var(--font-color-w);
  transition: all 0.2s ease;
}

.detail .info-area {
  display: flex;
  gap: 0 2rem;
  padding-bottom: 60px;
}
.detail .info-area .info-traits {
  width: 50%;
}
.detail .info-area h2 {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 25px;
}
.detail .info-area .detail-wrap {
}
.detail .info-area .details {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid #d3d3d3;
}
.detail .info-area .details h3 {
  width: 35%;
  font-weight: 500;
  font-size: 1.1rem;
}
.detail .info-area .details em {
  width: 65%;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.6;
}

.detail .info-area .info-desc {
  width: 50%;
}
.detail .info-area .info-desc h2 {
}
.detail .info-area .info-desc p {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.8;
}
