/* layout */
* {
  font-family: "Pretendard";
  color: var(--font-color);
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--main-color);
  margin: 0;
  padding: 0;
}

.inner {
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  will-change: transfrom, opacity;
}
header .inner {
  width: 100%;
  padding: 15px 2rem;
  box-sizing: border-box;
}

header .gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
header .gnb .gnb-logo {
}
header .gnb .gnb-logo a {
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--font-color-w);
}

header .gnb ul {
  display: flex;
  align-items: center;
}
header .gnb ul li {
  margin-right: 30px;
}
header .gnb ul li:last-child {
  margin-right: 0;
  border: 1px solid var(--font-color-w);
  border-radius: 30px;
  box-sizing: border-box;
  overflow: hidden;
}
header .gnb ul li a {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--font-color-w);
}
header .gnb ul li:last-child a {
  display: block;
  padding: 15px 35px;
  background-color: transparent;
  transition: 0.2s;
}
header .gnb ul li:last-child a:hover {
  background-color: var(--font-color-w);
  color: var(--font-color);
  transition: 0.2s;
}

/* light-header 상태: 흰 배경에 대비되는 메인 컬러로 전환 */
body.light-header header .gnb a,
body.light-header header .gnb ul li a {
  color: var(--main-color);
}
body.light-header header .gnb ul li:last-child {
  border-color: var(--main-color);
}
body.light-header header .gnb ul li:last-child a:hover {
  background-color: var(--main-color);
  color: #fff;
}

/* visual */
.visual {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--main-color);
  overflow-x: hidden;
}
.visual .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  box-sizing: border-box;
}

.visual h1 {
  margin: 0 auto;
  text-align: center;
  line-height: 1.1;
  /* text-transform: uppercase; */
}
.visual h1 span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visual h1 span.title em {
  font-weight: 300;
  font-size: 10rem;
  font-style: normal;
  color: var(--font-color-w);
}
.visual h1 span.title-2 em {
  font-weight: 400;
}

.visual h1 span b {
  display: block;
  width: 100px;
  height: 100px;
  margin: 2rem 1.5rem 0 1.5rem;
}
.visual h1 span b img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 초기 진입 애니메이션을 위한 클래스 */
.visual h1 span b {
  transform: scale(0.2);
  transition: transform 1.5s ease;
}
.visual.animate-in h1 span b {
  transform: scale(1);
}

.visual .visual-text b {
  transform: scale(0.2);
  transition: transform 1.5s ease;
}
.visual.animate-in .visual-text b {
  transform: scale(1);
}

.visual h1 span.title em {
  transform: scale(0.5) skewX(-20deg);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
  transform-origin: center;
}
.visual.animate-in h1 span.title em {
  transform: scale(1) skewX(0);
  opacity: 1;
  max-width: 100%;
}

.visual.animate-in h1 span.title em {
  transition-delay: 0.3s;
}

.img-slider {
  display: inline-block;
  position: relative;
  width: 200px; /* 원하는 이미지 크기에 맞게 */
  height: 100px;
  object-fit: cover;
  border-radius: 60px;
  margin: 0 1rem;
  box-sizing: border-box;
  overflow: hidden;
  transition: transform 1.5s ease;
}

.slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
}

.slider-inner img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.visual.motion .img-slider {
  transform: translate3d(0, 0, 0);
}
.visual.motion .img-slider .slider-inner {
  animation: sliderAni 1.5s;
}

@keyframes sliderAni {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0%;
    transform: translate3d(0, 80px, 0);
  }
}

.visual .visual-text {
  display: flex;
  align-items: center;
  margin-top: 3%;
  margin-left: 50%;
}
.visual .visual-text b {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 1.5rem;
}
.visual .visual-text b img {
  display: block;
  width: 100%;
  height: 100%;
}

.visual p {
  width: 55%;
  font-weight: 300;
  line-height: 1.5;
  font-size: 0.9rem;
  color: var(--font-color-w);

  opacity: 0;
  transform: translateY(70px) skewX(40deg);
  transition: 1.5s ease;
}
.visual.animate-in p {
  opacity: 1;
  transform: translateY(0) skewX(0);
}

.visual .arrow-wrap {
  position: absolute;
  width: 70px;
  right: 20%;
  bottom: 5%;
  object-fit: contain;
  box-sizing: border-box;
  overflow: hidden;
  animation: scroll-down 1.8s infinite ease-out;
}
.visual .arrow-wrap img {
  width: 100%;
  height: 100%;
}

@keyframes scroll-down {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 5%;
  }
}

/* section 1 */
.sc1 {
  box-sizing: border-box;
  background-color: var(--font-color-w);
  position: relative;
  margin-top: 300px;
  overflow: hidden;
}

.half-circle-wrap {
  position: absolute;
  left: 0;
  top: -100px;
  width: 100%;
  background-color: var(--main-color);
  z-index: 2;
}
.half-circle {
  width: 100%;
  height: 300px;
  background-color: var(--font-color-w);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  overflow: hidden;
}

.sc1 .inner {
}

.sc1 .my-pic {
  padding: 200px 0 60px;
  box-sizing: border-box;
}

/* .motion animation */
.sc1.motion .inner {
  transform: translate3d(0, 0, 0);
}
.sc1.motion .my-pic {
  animation: textAni 1.3s;
}

@keyframes textAni {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0%;
    transform: translate3d(0, 70px, 0);
  }
}

.sc1 .my-pic strong {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  margin-top: 30px;
}
.sc1 .my-pic strong .hand {
  display: inline-block;
  animation: handyAni 0.6s infinite alternate;
  font-size: 2.2rem;
  margin-left: 3px;
}
@keyframes handyAni {
  from {
    transform: rotate(15deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

.sc1 .my-pic .my-pic-area {
  width: 270px;
  height: 300px;
  object-fit: cover;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  overflow: hidden;
  margin: 0 auto;
}
.sc1 .my-pic .my-pic-area img {
  width: 100%;
  height: 100%;
}

/* .motion animation */
.sc1.motion .my-pic {
}

.sc1 .my-info {
  margin: 0 auto;
}
.sc1 .my-info h2 {
  float: left;
  display: inline-block;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 7px 30px;
  margin-top: 5px;
  box-sizing: border-box;
}
.sc1 .my-info span {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.7;

  -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  background-image: linear-gradient(#333, #333);
  background-size: 0% 100%;
}

.my-skill {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.my-skill::before {
  content: "Drag Me!";
  position: absolute;
  left: 3.5rem;
  top: -4.5rem;
  font-family: "Patrick Hand", cursive;
  font-size: 2.6rem;
}

.skillSet {
  margin: 0 30px;
  box-sizing: border-box;
}

.skill-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border-radius: 30px;
  margin: 10px auto 0;
  background: conic-gradient(#f0f0f0 0%, var(--font-color-w) 25%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  overflow: hidden;
}
.skill-card .skill-card-img {
  /* border: 2px solid tan; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 45%;
  object-fit: cover;
  box-sizing: border-box;
}
.skill-card .skill-card-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.skill-text {
  margin-top: 40px;
  padding-bottom: 1rem;
  box-sizing: border-box;
}
.skill-text strong {
  text-align: center;
  display: block;
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.skill-text p {
  text-align: justify;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

.slick-arrow,
.slick-prev,
.slick-next {
  display: none !important;
}

.accordion {
  max-width: 900px;
  box-sizing: border-box;
  margin: 80px auto 60px;
}
.accordion ul {
}
.accordion ul li {
}

.accordion ul li .acc-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.4px;
  padding: 30px;
  box-sizing: border-box;
  cursor: pointer;
  border-top: 1px solid var(--font-color);
}

.accordion ul li .acc-title strong {
  position: relative;
}
.accordion ul li .acc-title strong::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 10%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--font-color);
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease;
}

.accordion ul li .acc-title:hover strong::after {
  opacity: 1;
  transform: scale(1);
}

.accordion ul li .acc-title span {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.accordion ul li .acc-title span img {
  display: block;
  width: 100%;
  height: 100%;
}

.accordion ul li .acc-desc {
  display: none;
  padding: 40px 30px;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  overflow-x: hidden;
  max-width: 200%;
  word-break: break-word;
}
.accordion ul li .acc-desc.animate-in {
  opacity: 1;
  transform: translateY(0);
  margin-bottom: 20px;
}

.accordion ul li .acc-desc .ex-wrap {
  margin-bottom: 20px;
}
.accordion ul li .acc-desc strong {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.accordion ul li .acc-desc strong span {
  font-weight: 400;
  color: var(--dark-gray);
}

.accordion ul li .acc-desc p {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--font-color);
  padding-bottom: 5px;
}

.resume-btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 200px;
}
.resume-btn-area button {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: var(--main-color);

  border: none;
  transform: rotate(-18deg);
  cursor: pointer;
  transition: 0.2s;
}
.resume-btn-area button:hover {
  transform: rotate(-18deg) scale(1.1);
  box-shadow: 5px 5px 12px rgba(0, 20, 41, 0.4);
}

.resume-btn-area button a {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--font-color-w);
  overflow: hidden;
}

/* Splitting JS */
.resume-btn-area button a .char {
  position: relative;
  display: inline-block;
  color: transparent;
  /* color: var(--font-color-w); */
  overflow: hidden;
}
.resume-btn-area button a .char::before,
.resume-btn-area button a .char::after {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  color: var(--font-color-w);
  content: attr(data-char);
  transition: transform 0.35s;
  transition-delay: calc(30ms * var(--char-index));
}
.resume-btn-area button a .char::before {
  transform: translateY(100%);
}
.resume-btn-area button:hover .char::before {
  transform: translateY(0);
  opacity: 1;
  color: var(--font-color-w);
}
.resume-btn-area button:hover .char::after {
  transform: translateY(-100%);
}

/* section 2 */
.sc2 {
  position: relative;
  box-sizing: border-box;
  background-color: var(--font-color-w);
  padding: 200px 0 100px;
}
.sc2 .inner {
}

.pj-cat {
  padding: 20px 0;
  box-sizing: border-box;
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 80px;
}
.pj-cat strong {
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: var(--main-color);
}

.h3-wrap {
  overflow: hidden;
  margin: 0 auto 100px;
}
.h3-wrap h3 {
  font-weight: 500;
  font-size: 8rem;
  line-height: 1;
  letter-spacing: 3px;
  color: var(--font-color-w);
  text-transform: uppercase;
  text-align: center;
}
.h3-wrap h3 span {
  display: block;
  color: var(--font-color-w);
  line-height: 1.1;
}

ul.workList {
  margin-bottom: 80px;
}
ul.workList li {
  display: flex;
  align-items: flex-end;
  width: 100%;
  box-sizing: border-box;
}
ul.workList li.li-even {
  text-align: end;
}

ul.workList li a {
  display: inline-block;
  color: var(--font-color-w);
}
ul.workList li a.workImg::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  object-fit: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/asset/sparkle.svg) no-repeat center/150px;
  z-index: 1;
  animation: spin 1.5s infinite linear;
  transition: 0.3s;
}

/* li hover */
ul.workList li a.workImg:hover img {
  filter: brightness(40%);
}
ul.workList li a.workImg:hover::after {
  width: 150px;
  height: 150px;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

ul.workList li .img-box {
  position: relative;
  width: 65%;
  height: 600px;
  object-fit: cover;
  padding: 40px;
  box-sizing: border-box;
}
ul.workList li .img-box a {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  overflow: hidden;
}
ul.workList.motion li .img-box {
  transform: translate3d(0, 0, 0);
}
ul.workList.motion li .img-box a {
  animation: picAni 1.3s;
}
@keyframes picAni {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0%;
    transform: translate3d(0, 70px, 0);
  }
}

ul.workList li .img-box a img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
ul.workList li .img-box a:hover img {
  transform: scale(1.1);
}

ul.workList li .text-box {
  width: 35%;
  padding-bottom: 40px;
  box-sizing: border-box;
}
ul.workList li .text-box a {
  position: relative;
  display: inline-block;
  line-height: 1.2;
}
ul.workList li .text-box a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--font-color-w);
  transition: width 0.4s ease-in-out;
}
ul.workList li .text-box a:hover::after {
  width: 100%;
}

/* txt-year */
ul.workList li .text-box a em {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  background-color: transparent;
  color: var(--font-color-w);
  border: 1px solid var(--font-color-w);
  border-radius: 20px;
  padding: 6px 12px;
  box-sizing: border-box;
  margin-bottom: 2px;
}
/* txt-title */
ul.workList li .text-box a p {
  font-weight: 300;
  font-size: 3rem;
  color: var(--font-color-w);
  letter-spacing: 1px;
}

/* active */
.img-box {
  transform: translateY(-70px);
  transition: all 0.8s ease;
  opacity: 0;
}
.img-box.active {
  transform: translateY(0);
  opacity: 1;
}

.text-box a em,
.text-box a p {
  margin: 50px 0;
  transition: all 0.8s ease;
  opacity: 0;
}
.text-box.active a em,
.text-box.active a p {
  margin: 0;
  opacity: 1;
}

ul.workExp {
  margin-bottom: 200px;
}
ul.workExp li {
}

ul.workExp li a {
  display: block;
  margin-bottom: 5px;
}
ul.workExp li:nth-child(even) {
  text-align: end;
}

ul.workExp li a h4 {
  font-weight: 500;
  font-size: 6rem;
  line-height: 1.1;
  color: var(--font-color-w);
  transition: transform 0.3s ease;
}
ul.workExp li:nth-child(odd):hover h4 {
  transform: translateX(20px);
}
ul.workExp li:nth-child(even):hover h4 {
  transform: translateX(-20px);
}

ul.workExp li a span {
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--font-color-w);
  transition: 0.4s;
  opacity: 0;
}
ul.workExp li a:hover span {
  opacity: 1;
}

/* active */
ul.workExp li {
  transform: translateY(-70px);
  transition: all 0.8s ease;
  opacity: 0;
}
ul.workExp li.active {
  transform: translateY(0);
  opacity: 1;
}

.sc2 .imgBox {
  position: fixed; /* 화면 기준으로 따라다니게 */
  top: 0;
  left: 0;
  width: 400px;
  height: auto;
  z-index: 99;
  pointer-events: none;
  transform: scale(0);
  opacity: 0;
}
.sc2 .imgBox img {
  display: block;
  width: 400px;
  height: auto;
  object-fit: cover;
}
/* 이 구간에서만 img hover scroll 없애기 */
.wrap.on {
  overflow: hidden;
}

.marquee-wrap {
  overflow: hidden;
  white-space: nowrap;
  border-top: 1px solid var(--font-color-w);
  border-bottom: 1px solid var(--font-color-w);
}
.marquee {
  display: flex;
  width: 200%;
  align-items: center;
  padding: 20px 0;
  transform-origin: left center;
  animation: marquee-left 10s linear infinite;
}

.marquee span {
  font-weight: 500;
  font-size: 3.5rem;
  color: var(--font-color-w);
}
.marquee span img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin: 0 30px;
}

@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.tagline-wrap {
  margin-top: 0;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 20px;
}

.tagline {
  display: inline-block;
  animation: marquee-right 20s linear infinite;
}

.tagline span {
  background-color: var(--font-color-w);
  border-radius: 50px;
  padding: 20px 40px;
  margin-right: 20px;
  font-weight: 300;
  font-size: 2.2rem;
  color: var(--main-color);
  display: inline-block;
}

@keyframes marquee-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.footer-section {
  position: relative;
  height: 480px;
  bottom: 0;
  overflow: hidden;
}

.contact-footer-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(150px);
  will-change: transform, opacity;
  opacity: 1;
}

/* section 3 */
.contact {
  background-color: var(--blue);
  padding: 100px 0 60px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}
.contact .inner {
}

.contact h5 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--font-color-w);
}
.contact h6 {
  margin-top: 7px;
}
.contact h6 a {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.contact h6 a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--font-color-w);
  transition: width 0.4s ease-in-out;
}
.contact h6 a:hover::after {
  width: 100%;
}

.contact h6 a strong {
  font-size: 7rem;
  margin-right: 20px;
  color: var(--font-color-w);
}
.contact h6 a img {
  display: block;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.contact h6 a:hover img {
  animation: rotate360 1s linear infinite;
}
@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* footer */
footer {
  background-color: var(--blue);
}
footer .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 20px;
  box-sizing: border-box;
}

footer a {
  display: block;
  width: 50px;
  height: 50px;
}
footer a img {
  display: block;
  width: 100%;
  object-fit: contain;
}
footer small {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--font-color-w);
}

/* responsive */
@media (max-width: 1300px) {
  .inner {
    max-width: 1000px;
    width: 1000px;
    box-sizing: border-box;
    overflow: hidden;
  }

  header {
    max-width: 100%;
    box-sizing: border-box;
  }

  header .inner {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }

  .visual {
  }
  .visual .inner {
    max-width: 1300px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .visual h1 span.title em {
    font-size: 7rem;
  }
  .visual p {
    width: 55%;
  }
  .visual .arrow-wrap {
    width: 55px;
    right: 10%;
  }

  .sc1 .my-pic .my-pic-area {
    width: 200px;
    height: 220px;
  }
  .sc1 .my-info p {
    font-size: 1.6rem;
  }

  ul.workList li .img-box {
    height: 450px;
  }
  ul.workList li .text-box a p {
    font-size: 2.5rem;
  }

  ul.workExp li a h4 {
    font-size: 4.3rem;
  }
}

@media (max-width: 1000px) {
  .visual {
    width: 1000px;
    max-width: 1000px;
  }
  .visual .inner {
    width: 1000px;
    max-width: 1000px;
  }

  header .inner {
    max-width: 500px;
    margin: 0 auto;
  }

  .img-slider {
    width: 150px;
    height: 80px;
  }

  .visual h1 span.title em {
    font-size: 6rem;
  }
  .visual .visual-text {
    margin-left: 35%;
    margin-top: 5px;
  }
  .visual h1 span b,
  .visual .visual-text b {
    width: 65px;
    height: 65px;
  }
  .visual.animate-in p {
    font-size: 0.8rem;
  }

  .sc1 .my-info h2 {
    padding: 3px 20px;
  }
  .sc1 .my-info span {
    font-size: 1.5rem;
  }

  ul.workExp li a span {
    opacity: 1;
  }

  .contact,
  footer {
    width: 98%;
    margin: 0 auto;
  }
  .contact .inner {
    padding: 0 4rem;
    box-sizing: border-box;
  }

  footer .inner {
    width: 100%;
    padding: 20px 4rem;
    box-sizing: border-box;
  }
}
