html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  /* 가로 스크롤 방지 */
  /* overflow-x: hidden; */
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: #fff;
}

p {
  line-height: 1.6;
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #fff;
  opacity: 0;
  transition: 0.5s;
}

.before-load .container {
  display: none;
}

.before-load .loading {
  opacity: 1;
}

@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-circle-ani {
  0% {
    stroke-dashoffset: 157;
  }
  50% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}

svg.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-spin 3s infinite;
}
svg.loading-circle circle {
  stroke: black;
  stroke-width: 4;
  /* getTotalLength()로 stroke의 길이를 얻어올 수 있음 */
  stroke-dasharray: 157;
  stroke-dashoffset: 0;
  fill: transparent;
  transition: 1.2s;
  animation: loading-circle-ani 1s infinite;
}

body.before-load {
  overflow: hidden;
}

.container {
  overflow-x: hidden;
}

nav {
}

.global-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}
.local-nav {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}
.local-nav-sticky .local-nav {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  /* IOS 에서의 blur 처리시 꼭 필요함 */
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}

.global-nav-links,
.local-nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.global-nav-links {
  justify-content: space-between;
}

.local-nav-links a.product-name {
  font-weight: 900;
  font-size: 1.4em;
  margin-right: auto;
}

.local-nav-links a {
  font-size: 0.8rem;
}

.local-nav-links a:not(.product-name) {
  margin-left: 2em;
}

/* section */
.scroll-section {
  position: relative;
  padding-top: 50vh;
}

/* sc-0 */
#scroll-section-0 h1 {
  position: relative;
  top: -10vh;
  z-index: 5;
  font-size: 4rem;
  text-align: center;
}

.main-message {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 35vh;
  height: 3em;
  font-size: 2.5rem;
  margin: 5px 0;
  opacity: 0;
}

.main-message p {
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}
.main-message span {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

/* sc-1 */
.desc {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.7;
  text-align: justify;
  color: #888;
  padding: 0 1rem;
}
.desc strong {
  float: left;
  font-size: 3rem;
  line-height: 1.2;
  color: rgb(29, 29, 31);
  margin-right: 0.2em;
}

.bg-video {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 200px 0;
}
.bg-video .videowrap {
}
.bg-video .videowrap video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(80%);
}

.bg-video .video-title {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}
.bg-video .video-title p {
  font-weight: 400;
  font-size: 2.2rem;
  letter-spacing: -1;
  line-height: 1.2;
}
.bg-video .video-title p i {
  display: block;
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 20px;
}

/* sc-2 */
#scroll-section-2 .main-message {
  font-size: 3.5rem;
  color: #fff;
}

.desc-message {
  width: 50%;
  font-weight: 500;
  font-size: 1.2rem;
  color: #fff;
  opacity: 0;
}

.pin {
  width: 1px;
  height: 100px;
  background: rgb(255, 255, 255);
}

#scroll-section-2 .b {
  bottom: 10%;
  left: 40%;
}
#scroll-section-2 .c {
  bottom: 20%;
  left: 65%;
}

.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 2rem;
  color: #888;
  padding: 0 1rem;
  margin-bottom: 15rem;
}
.mid-message strong {
  color: rgb(29, 29, 31);
}

p.canvas-caption {
  max-width: 1000px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7;
  color: #888;
  text-align: justify;
}

/* sticky */
.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
  /* 성능 개선을 위한 최후의 수단 (남발 금지) */
  will-change: transform, opacity;
}

.scroll-effect-end .sticky-elem {
  display: none !important;
}

.sticky-elem-canvas {
  top: 0;
  height: 100%;
}
.sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}

#show-scene-2 #scroll-section-2 .sticky-elem-canvas {
  filter: brightness(80%);
}

.image-blend-canvas.sticky {
  position: fixed;
  top: 0;
}

/* sc-3 */
#scroll-section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* gallery */
.gallery .h2-wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
}
.gallery .h2-wrap h2 {
  font-size: 5rem;
}
.gallery .h2-wrap strong {
  display: block;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 15px;
}

.gallery {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.gallery ul {
  display: flex;
  padding: 7% 50% 5% 70%;
  box-sizing: border-box;
  gap: 100px;
  width: max-content;
}
.gallery ul li {
  width: 900px;
  height: 650px;
  box-sizing: border-box;
  flex-shrink: 0 !important;
  padding-right: 30px;
}

.gallery ul li a {
  position: relative;
  display: block;
  width: 900px;
  text-decoration: none;
}

.gallery ul li a .imgBox {
  position: relative;
  width: 900px;
  height: 650px;
  box-sizing: border-box;
  clip-path: inset(15%);
  transition: 0.3s;
}
.gallery ul li a .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery ul li a .textBox {
  position: absolute;
  left: 5%;
  bottom: 10%;
  color: #fff;
  z-index: 5;
}
.gallery ul li a .textBox .title {
  font-weight: 500;
  font-size: 2.7rem;
}

/* sc-4 */
.normal-content {
  max-width: 1000px;
  margin: 0 auto 300px;
}
.normal-content p {
  font-size: 2rem;
  color: #888;
  text-align: justify;
  margin-bottom: 30px;
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  background: #f0f0f0;
}

/* responsive */
/* 창 크기 >= 1024px */
@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }
  .main-message {
    font-size: 4vw;
  }
  .desc {
    padding: 0;
    font-size: 2rem;
  }
  .desc strong {
    font-size: 6rem;
  }

  #scroll-section-2 .main-message {
    font-size: 6vw;
  }
  .main-message span {
    font-size: 1.5vw;
  }

  .desc-message {
    width: 20%;
  }

  #scroll-section-2 .b {
    top: 20%;
    left: 53%;
  }
  #scroll-section-2 .c {
    left: 50%;
  }

  .mid-message {
    width: 1000px;
    padding: 0;
    font-size: 1.7vw;
  }

  p.canvas-caption {
    /* margin-top: -8rem; */
    padding: 0;
    font-size: 2rem;
  }
}

@media (max-width: 1023px) {
  p.sticky-p {
    width: 50%;
  }

  p.canvas-caption {
    padding: 0 1rem;
  }

  .gallery .h2-wrap {
    padding-left: 30px;
  }

  .bg-video .video-title p {
    font-size: 1.3rem;
  }
}
